{% extends "template.html"  %}
{% block content %}

    <div class="jumbo">
        <h2>{{_('Welcome into DomoControl free software version two')}}</h2>
        <p>{{_('if you want to contribute to the development of the project, please write at subluca(at)gmail.com')}}</p>
        <p>
            <ul><b>{{_('This project require:')}}</b>
                <li>{{_('Raspberry PI control board and Arduino slave board or other board')}}</li>
                <li>{{_('Python language')}}</li>
                <li>{{_('Flask framework with plugins')}}</li>
                <li>{{_('Sqlite database to store all informations')}}</li>
            </ul>
        </p>
        <p><img src="/static/doc/image/domocontrol.png" width="500px"  alt="Domocontrol" class="img-thumbnail"></p>
        <p>{{_('Project repository:')}} <a hre="https://github.com/DomoControl/dcn">https://github.com/DomoControl/dcn</a></p>
        <p>
            {{_('Demo, when active')}} <a href="http://domocontrol.ddns.net:5000"> http://domocontrol.ddns.net:5000</a><br />
        </p>
        <p>{{_('Facebook group:')}} <a href="https://www.facebook.com/groups/domocontrol/">https://www.facebook.com/groups/domocontrol</a></p>
	<p><b>Scrivi sul forum le tue impressioni, consigli, difetti, informazioni.... all'indirizzo <a href="http://www.domocontrol.info">domocontrol.info</a></b></p>
        <p>Coloro che contribuiranno allo sviluppo del software riceveranno le schede montate con tutti i componenti al puro costo del montaggio.<br />
        {{_('if you want to contribute to the development of software, please write email to: subluca at gmail.com')}} </p>
    </div>
{% endblock %}
