{% extends "template.html"  %}
{% block content %}

    <div class="jumbo">
        <h2>Welcome into DomoContorl v2 project</h2>
        <p>if you want to contribute to the development of the project, please write to me at subluca(at)gmail.com</p>
        <p>
        <ul><b>This project require:</b>
            <li>Raspberry PI and Arduino slave board</li>
            <li>Python for programming language</li>
            <li>Flask how framework for webpage</li>
            <li>Sqlite how database for store setup information</li>
        </ul>     
        </p>
        
        
        
    </div>
{% endblock %}
