{% extends "template.html"  %}
{% block content %}

    <div class="jumbo">
        <h2>Welcome into DomoControl Version Two, free software</h2>
        <p>if you want to contribute to the development of the project, please write to me at subluca(at)gmail.com</p>
        <p>
        <ul><b>This project require:</b>
            <li>Raspberry PI control board and Arduino slave board or other board</li>
            <li>Python language</li>
            <li>Flask framework with plugins</li>
            <li>Sqlite database to store all informations</li>
        </ul>     
        </p>
        <p><img src="/static/doc/image/domocontrol.png" width="500px"  alt="Domocontrol" class="img-thumbnail"></p>
        <p>Project home: <a hre="https://github.com/DomoControl/dcn">https://github.com/DomoControl/dcn</a></p>
        <p>
            Demo (when active) <a href="http://my-tek.no-ip.org:5000">http://my-tek.no-ip.org:5000</a><br />
            Username: luca <br />
            Password: 123
        </p>
        <p>if you want to contribute to the development of software, please write email to: subluca'at'gmail.com</p>
    </div>
{% endblock %}
