{% extends "template.html" %}

{% block content %}
  <h1>{{_('Login')}}</h1>
  <p>{{_('Please insert username and password')}}</p>
  <p>Try login with: <br />
    username: luca <br />
    password: 123
  </p>

  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}

  <form action="{{ url_for('login') }}" method=post >

    <div class="input-group">
      <span class="input-group-addon" style="width:200px;">Username</span>
      <input type="text" name="username" value="" >
    </div>

    <div class="input-group">
      <span class="input-group-addon" style="width:200px;">Password</span>
      <input type="password" name="password" value="" >
    </div>

    <input type="submit" class="btn btn-default" name="submit" value="Enter">
  </form>


{% endblock %}
