{% extends "template.html"  %}
{% block content %}
<h2>{{_('Program page')}}</h2>
 
 
 
 <script type=text/javascript>   
     
 function() {
     
     
    $('button').click(function() {
        var user = $('#txtUsername').val();
        var pass = $('#txtPassword').val();
        $.ajax({
            url: '/signUpUser',
            data: $('form').serialize(),
            type: 'POST',
            success: function(response) {
                console.log(response);
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
}
</script>


    <div class="container">
 
         <form class="form-signin" action="/signUp" method="post" role="form">
             <h2 class="form-signin-heading">Please Sign Up </h2>
             <input type="email" name="username" class="form-control" placeholder="Email address" required autofocus>
             <input type="password" name="password" class="form-control" placeholder="Password" required>
 
             <button class="btn btn-lg btn-primary btn-block" type="button">Register </button>
         </form>
      
     </div>







<script type=text/javascript>
    A = {}; //Dict with all other data
    ACopy = {};
    P = {};
    PCopy = {};
    IO = {};
    IOCopy = {};
    var reloadDictA = '';
    var reloadDictP = '';
    var reloadDictIO = '';
    
   

    
    function setIN(id,mode){
        //~ alert(id+' '+mode);
        reloadDictA = 'true';
        reloadDictP = 'true';
        $.getJSON('/setIN', {id:id, mode:mode}, function(test){var a = 123;}  )
    }

    function ProgramEdit(id){
        window.location.href = "/setup_program";
    }


</script>

<div id='program'></div>
<div id='test'></div>

{% endblock %}

