{% extends "template.html"  %}
{% block content %}
    <h2>I/O Status</h2>
    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    
    <style type="text/css">
        .sensor {
            text-align:center; 
            border:1px dotted gray; 
            padding:5px; 
            margin:5px; 
            float:left;
            width:100px;
        }
    </style> 
   
    
            
        <script type="text/javascript">
            $(document).ready(function(){
                namespace = '/menu_status';
                var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
                f = '';
                debug = '';
                A = {}; //Dict with all other data
                ACopy = {};
                IO = {};
                IOCopy = {};
                var reloadDictA = '';
                var reloadDictIO='';
                
                socket.on('connect', function() {
                    socket.emit('menu_status_back', {data1: 'Connect'});
                });
                                
                socket.on('my response', function(dict) {
                    
                    IOCopy = dict.IO; //Dict with IO status
                    ACopy = dict.AA; //Dict with all data
                    
                    //~ debug = JSON.stringify(IOCopy);
                    
                    if(jQuery.isEmptyObject(ACopy) != true){
                        A = $.extend(A, ACopy);
                    }

                    if(Object.keys(IOCopy).length>0){
                        IO = $.extend(IO, IOCopy);
                        //~ debug = JSON.stringify('IO Cambiato');
                    }
                    //~ debug = JSON.stringify(IO);
                    
                    f = '';
                    for( var a in A ){
                        n = 0;
                        for(aa in A[a]){
                            id = A[a][aa]['id'];
                            if(n == 0){
                                f += '<div style="clear:both;"  >'+ A[a][aa]["area_description"] +'</div>';
                            }
                            f += '<div style="border:1px dotted gray;" class="sensor"  onClick="sendEvent('+id+')" >';
                            //~ f += '<a href="#" onclick="set_menu_status(10,5);">';
                            
                            f += '<span title="'+ A[a][aa]['description'] +'">'+A[a][aa]['name']+'</span><br>';
                            
                            
                            IO_val = IO['board_io'][id]['SA'] //status value
                            if(IO_val == 0){
                                f += '<span><input id="target" name="'+id+'" value="'+0+'" type="image" src="static/icon/' + A[a][aa]['icon_off'] + '" style="height:40px; max-width:50px;" ></span><br>';
                            } else {
                                f += '<span><input  id="target" name="'+id+'" value="'+1+'" type="image" src="static/icon/' + A[a][aa]['icon_on'] + '"  style="height:40px; max-width:50px;" ></span><br>';
                            }
                            //~ debug += JSON.stringify( A[a][aa]['icon']);    
                            //~ debug += JSON.stringify(IO['board_io'][id])
                            
                            f += IO_val;
                            //~ f += A[c]['VALUE']+'<br>';
                            n++;
                        
                        //~ f += '</a>';
                        f += '</div>';
                        
                            
                        }
                    }
                    
                document.getElementById('status').innerHTML = f;
                document.getElementById('debug').innerHTML = debug;  
                });
                
                sendEvent = function(event) {
                    socket.emit('change_menu_status', {id: event});
                    return false;
                };   
                
            });
        
            
    </script>

<div id="debug"></div>
<div id="status"></div>
<div id="log"></div>

{% endblock %}
