{% extends "template.html"  %}
{% block content %}
    <h2>I/O Status</h2>
    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    
    <style type="text/css">
        .sensor {
            text-align:center; 
            border:1px dotted gray; 
            padding:5px; 
            margin:5px; 
            float:left;
            width:100px;
        }
    </style> 
    
    <div id="status"></div>
    <div id="debug"></div>
            
        <script type="text/javascript">
            A = {}; //Dict with all other data
            ACopy = {};
            IO = {};
            IOCopy = {};
            var reloadDictA = '';
            var reloadDictIO='';
            var debug='';
            
            function listen() {
                var source = new EventSource("/get_menu_status");
                var target = document.getElementById("status");
                source.onmessage = function(msg) {
        
                    
        
        
                    IOCopy = $.parseJSON(msg.data)[1]; //Dict with IO status
                    ACopy = $.parseJSON(msg.data)[0]; //Dict with all data
                    //~ 
                    //~ 
                    if(jQuery.isEmptyObject(ACopy) != true){
                        A = $.extend(A, ACopy);
                    }
                   
                    if(jQuery.isEmptyObject(IOCopy) != true){
                        debug += "passa da ui";
                        IO = $.extend(IO, IOCopy);
                    }
                   
                    debug = JSON.stringify(IO);
                    f = '';
                    for( var a in A ){
                        n = 0;
                        for(aa in A[a]){
                            if(n == 0){
                                f += '<div style="clear:both;">'+ A[a][aa]["area_description"] +'</div>';
                            }
                            f += '<div style="border:1px dotted gray;" class="sensor">';
                            f += '<span title="'+ A[a][aa]['description'] +'">'+A[a][aa]['name']+'</span><br>';
                            id = A[a][aa]['id'];
                            IO_val = IO['board_io'][id] //status value
                            if(IO_val == 0){
                                f += '<span><img src="static/icon/' + A[a][aa]['icon_off'] + '" style="height:40px; max-width:50px;" ></span><br>';
                            } else {
                                f += '<span><img src="static/icon/' + A[a][aa]['icon_on'] + '" style="height:40px; max-width:50px;" ></span><br>';
                            }
                            //~ debug += JSON.stringify( A[a][aa]['icon']);    
                            
                            f += IO_val;
                            //~ f += A[c]['VALUE']+'<br>';
                            n++;
                        
                        f += '</div>';
                        
                            
                        }
                    }
            
        
        
        
        
        
                    
                    
                    //~ target.innerHTML = 'status: ' + msg.data + '<hr>';
                    
                    
                    //~ debug += JSON.stringify(msg)
                    //~ IO = $.parseJSON(msg.data[0]);
                    //~ debug = IO['board_io'][43];
                    
                    document.getElementById('status').innerHTML = f;
                    document.getElementById('debug').innerHTML = debug;
                }
            }

            listen();
    </script>
    
    
    
<!--
    

<script type=text/javascript>
    A = {}; //Dict with all other data
    ACopy = {};
    IO = {};
    IOCopy = {};
    var reloadDictA = '';
    var reloadDictIO='';
    var debug='';
    window.setInterval(function(){
            $.getJSON('/getStatus', {'reloadDictA':reloadDictA, 'reloadDictIO':reloadDictIO},
            function(data) {
                //~ alert(JSON.stringify(data))
                IOCopy = data.resultIO; //Dict with IO status
                ACopy = data.resultA; //Dict with all data
                //Get A dict if empty
                if(jQuery.isEmptyObject(ACopy) != true){
                    A = $.extend(A, ACopy);
                }
                if(Object.keys(A).length == '0'){
                    reloadDictA='true';
                } else {
                    reloadDictA='false';
                }
                //~ debug=JSON.stringify(A);
                //Get IO dict if empty
                if(jQuery.isEmptyObject(IOCopy) != true){
                    IO = $.extend(IO, IOCopy);
                }
                if(Object.keys(IO).length == '0'){
                    reloadDictIO='true';
                } else {
                    reloadDictIO='false';
                }
                
                //Header
                var f = '';
                for( var a in A ){
                    n = 0;
                    for(aa in A[a]){
                        if(n == 0){
                            f += '<div style="clear:both;">'+ A[a][aa]["area_description"] +'</div>';
                        }
                        f += '<div style="border:1px dotted gray;" class="sensor">';
                        f += '<p title="'+ A[a][aa]['description'] +'">'+A[a][aa]['name']+'</p>';
                        id = A[a][aa]['id'];
                        f += IO['board_io'][id]
                        //~ f += A[c]['VALUE']+'<br>';
                        n++;
                    
                    f += '</div>';
                    
                        
                    }
                    
                    
                    /*
                    if(A[c]['type'] == 'out' && IO[c]['value'] == 1){
                        f += '<div class="sensor">';
                        f += A['board_io'][IO[c]['id']]['name'];
                        f += '<br>';
                        cf += '<img src="static/img/out_on.png" height=50px>';
                        f += '</div>';
                    }
                    else if (IO[c]['type'] == 'out' &&  IO[c]['value'] == 0){
                        f += '<div class="sensor">';
                        f += A['board_io'][IO[c]['id']]['name'];
                        f += '<br>';
                        f += '<img src="static/img/out_off.png" height=50px>';
                        f += '</div>';
                    }
                    else if (IO[c]['type'] == 'temperature'){
                        f += '<div class="sensor">';
                        f += A['board_io'][IO[c]['id']]['name'];
                        f += '<br>';
                        f += '<img src="static/img/temperature.png" height=50px><br>'+IO[c]['value'];
                        f += '</div>';
                    }
                    else if (IO[c]['type'] == 'humidity'){
                        f += '<div class="sensor">';
                        f += A['board_io'][IO[c]['id']]['name'];
                        f += '<br>';
                        f += '<img src="static/img/humidity.png" height=50px><br>'+IO[c]['value'];
                        f += '</div>';
                    }
                    //~ else {var img = IO[c]['value'];}
                    */
                    
                    
                    f += '</div>';
                //~ f += JSON.stringify(IO[c]);
                
                document.getElementById('status').innerHTML = f;
                
            } 
            
            document.getElementById('debug').innerHTML = debug;
        }
        )
    }, 1000) ;

    /*
    function setIN(id,mode){
        //~ alert(id+' '+mode);
        $.getJSON('/setIN', {id:id, mode:mode}, function(test){var a = 123;}  )
    }
    */

    /*
    function ProgramEdit(id){
        window.location.href = "/setup_program";
    }
    */


</script>
-->
<div id='status'></div>
<div id='debug'></div>

{% endblock %}
