{% extends "template.html"  %}
{% block content %}
    <h2>Program status</h2>
    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    
    <style type="text/css">
        #parent {
            display: table;
            border: 1px dashed gray;
            width: 98%;
            margin: 10px;
            padding-left: 15px;
            padding-right: auto;
            
            
        }
        #child{
            display: table-cell;
            vertical-align: middle;
            padding:5px;
        }
    </style> 
   
    
            
        <script type="text/javascript">
            $(document).ready(function(){
                namespace = '/menu_program';
                var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
                f = '';
                debug = '';
                A = {}; //Dict with all other data
                ACopy = {};
                IO = {};
                IOCopy = {};
                P = {}
                PCopy = {}
                var reloadDictA = '';
                var reloadDictIO='';
                
                socket.on('connect', function() {
                    socket.emit('menu_program_back', {data1: 'Connect'});
                });
                                
                socket.on('my response', function(dict) {
                    
                    IOCopy = dict.IO; //Dict with IO status
                    PCopy = dict.P; //P with all data
                    ACopy = dict.A; //Dict with all data
                    
                    //~ debug = JSON.stringify(IOCopy);
                    
                    if(jQuery.isEmptyObject(PCopy) != true){
                        P = $.extend(P, PCopy);
                    }
                    if(Object.keys(ACopy).length>0){
                        A = $.extend(A, ACopy);           
                    }
                    if(Object.keys(IOCopy).length>0){
                        IO = $.extend(IO, IOCopy);           
                    }
                    
                    f = '';

                    for( var p in P ){
                        //~ debug = JSON.stringify(data[d]);
                        //~ debug += JSON.stringify(IO);
                        id = '';
                        f += '<div id="parent" onClick="sendEvent('+P[p]['in_id']+')">';
                        
                        
                        IN_val = IO['board_io'][P[p]['in_id']]['SA'] //status value
                        if(IN_val == 0){
                            f += '<div id="child" style="width:130px;"><input id="target" name="'+id+'" value="'+0+'" type="image" src="static/icon/' + A['board_io'][P[p]['in_id']]['icon_off'] + '" style="height:50px;" ></div>';
                        } else {
                            f += '<div id="child" style="width:130px;"><input  id="target" name="'+id+'" value="'+1+'" type="image" src="static/icon/' + A['board_io'][P[p]['in_id']]['icon_on'] + '"  style="height:50px;" ></div>';
                        }
                        if(P[p]['inverted']==1){
                            f += '<div id="child" style="width:60px;"><img src="static/icon/inverted.png"  style="height:50px;" ></div>';
                        }
                        else{
                            f += '<div id="child" style="width:60px;"></div>';
                        }
                        OUT_val = IO['board_io'][P[p]['out_id']]['SA'] //status value
                        if(OUT_val == 0){
                            f += '<div style="width:60px;" id="child"><input id="target" name="'+id+'" value="'+0+'" type="image" src="static/icon/' + A['board_io'][P[p]['out_id']]['icon_off'] + '" style="height:50px;" ></div>';
                        } else {
                            f += '<div style="width:60px;" id="child"><input  id="target" name="'+id+'" value="'+1+'" type="image" src="static/icon/' + A['board_io'][P[p]['out_id']]['icon_on'] + '"  style="height:50px;" ></div>';
                        }
                        switch(P[p]['type_id']){
                            case 1: //Timer
                                f += '<div style="text-align:center" id="child">Timer:<br>'+P[p]['TA']+'</div>';
                                break;
                            case 2: //Timeout
                                f += '<div style="text-align:center" id="child">Timer:<br>'+P[p]['TA']+'</div>';
                                break;
                            case 3: //Automatic
                                f += '<div style="text-align:center" id="child">Automatic</div>';
                                break;
                            case 4: //Manual
                                f += '<div style="text-align:center" id="child">Manual</div>';
                                break;
                        }
                        f += '<div style="text-align:center;" id="child">'+P[p]['name']+'<br>'+P[p]['description']+'</div>';
                        
                        f += '</div>';
                        f += '</div>';
                        f += '<div class="clear:both;"></div>';
                        
                            
                        
                    }

                    document.getElementById('status').innerHTML = f;
                    document.getElementById('debug').innerHTML = debug;  
                });
                
                sendEvent = function(event) {
                    socket.emit('change_menu_program', {id: event});
                    return false;
                };   
                
            });
        
            
    </script>

<div id="debug"></div>
<div id="status"></div>
<div id="log"></div>

{% endblock %}
