

{% extends "template.html"  %}
{% block content %}

    <h2>{{_('Program setup')}}</h2>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        {% for p in data %}
            <form action="" method="post"    class="form-inline text-center" role="form" style="padding:2px; margin-bottom:2px;">
                <div class="panel panel-default" >
                    
                    <div class="panel-heading" style="padding:0 5px" role="tab" id="heading{{p['id']}}">
                        <h4 class="panel-title">

                                <table class="table table-condensed" style="padding:2px;"><tr>
                                    <td>
                                        <a data-toggle="collapse" class="collapsed center-block text-center" data-parent="#accordion" href="#collapse{{p['id']}}" aria-expanded="false" aria-controls="collapseOne">
                                            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                                        </a>
                                    </td>
                                    <td><span class="text-center" style="margin-left:20px;">{{_('ID:')}}&nbsp;</span><label>{{p['id']}}</label></td>
                                    <td><abbr title="{{p['description']}}">{{p['name']}}</abbr></td>
                                    <td>
                                        <label for="inverted">{{_('Type')}}:</label>
                                        <select name="type_id" id="type_id" class="form-control btn-xs" style="width:80px;">
                                            {% for type in program_type %}
                                                <option value="{{type.id}}" {% if type.id == p.type_id %} selected {% endif %} >{{type.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>

                                    <td>
                                        <label for="inverted">{{_('IN')}}:</label>
                                        <select name="in_id"  class="form-control">
                                            {% for in in board_io_in %}
                                                <option value="{{in.id}}" {% if in.id == p.in_id %} selected {% endif %} >
                                                    {{in.name}} - {{in.description}}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <label for="inverted">{{_('OUT')}}:</label>

                                        <select name="out_id"  class="form-control">
                                            {% for out in board_io_out %}
                                                {% set out_used=[] %} {# global variable to set id OUT is already used in other program #}

                                                {% for o in data %}
                                                        {% if out.id==o.out_id %} {% if out_used.append('Yes') %} {% endif %}{% endif %}
                                                {% endfor %}

                                                    <option value="{{out.id}}" {% if out.id == p.out_id %} selected {% endif %} {% if out_used[0] == 'Yes' %} style="color:red; text-decoration:line-through;"  {% endif %} >
                                                        {{out.name}} - {{out.description}}
                                                    </option>

                                                    {% set out_used=[] %} {# reset variable #}

                                            {% endfor %}
                                        </select>
                                    </td>

                                    <td>
                                        <label for="inverted">{{_('Inverted')}}:</label>
                                        <input   class="form-control" type="checkbox"  name='inverted' {% if p.inverted == 1 %} checked {% endif %}>
                                    </td>
                                    <td>
                                        <label for="enable">{{_('Enable')}}:</label>
                                        <input   class="form-control" type="checkbox"  name='enable' value='0' {% if p.enable == 1 %} checked {% endif %} >
                                    </td>
                                    <td>
                                        <input class="btn btn-success btn-xs" type="submit" name="btn" value="Save" >
                                    </td>
                                </tr></table>
                        </h6>
                    </div>
                    <div id="collapse{{p['id']}}" class="panel-collapse collapse " role="tabpanel" aria-labelledby="heading{{p['id']}}">



                            <div class="form-group" >

                                <input type="hidden" name='id' value="{{ p.id }}" class="form-control" id="id" placeholder="id">
                                <label class="form-control-static">{{_('Name')}}:</label><input width="100px" type="text"  name='name' value="{{ p.name }}">
                                <label class="form-control-static">{{_('Description')}}:</label><input width="100px" type="text"  name='description' value="{{ p.description }}">

                            </div>

                            <div class="form-group">
                                <input class="btn btn-success  btn-xs" type="submit" name="btn" value="Save">
                                <input class="btn btn-danger  btn-xs" type="submit" name="btn" value="Delete">
                                <input class="btn btn-info  btn-xs" type="submit" name="btn" value="Copy">
                            </div>

                            <div class="collapse in" id="timer" style="border:1px dotted gray; margin:5px; padding:5px;">
                                <p><center>Timer setup</center></p>
                                <table align="center">
                                    <tr>
                                        <td></td><td>{{_('Days')}}</td><td>{{_('Hours')}}</td><td>{{_('Minutes')}}</td><td>{{_('Seconds')}}</td>
                                    </tr>
                                    <tr>

                                        <td>Timer setting: </td>
                                        <td><input width=1 type="number"   name='timer0' value="{{ p.timer.split('-')[0] }}"></td>
                                        <td><input type="number"   name='timer1' value="{{ p.timer.split('-')[1] }}"></td>
                                        <td><input type="number"   name='timer2' value="{{ p.timer.split('-')[2] }}"></td>
                                        <td><input type="number"   name='timer3' value="{{ p.timer.split('-')[3] }}"></td>
                                    </tr>
                                </table>
                            </div>

                            <div class="collapse in" id="chrono" style="border:1px dotted gray; margin:5px; padding:5px;">
                                <p><center>Chrono setup</center></p>
                                <table align="center">
                                    <tr>
                                        <td></td><td>{{_('Days')}}</td><td>{{_('Hours')}}</td><td>{{_('Minutes')}}</td><td>{{_('Seconds')}}</td><td>:</td><td>{{_('Days')}}</td><td>{{_('Hours')}}</td><td>{{_('Minutes')}}</td><td>{{_('Seconds')}}</td>
                                    </tr>
                                    {% set x = 1 %}

                                    {% for c in chrono %}
                                        <tr>
                                            <td>From: </td>
                                            <td>
                                                <select name='chrono{{"%s0" %x}}'  class="form-control">
                                                    <option value="7"  {% if c[0] == '7' %} selected {% endif %} >{{_('Each day')}}</option>
                                                    <option value="0"  {% if c[0] == '0' %} selected {% endif %} >{{_('Monday')}}</option>
                                                    <option value="1"  {% if c[0] == '1' %} selected {% endif %} >{{_('Tuesday')}}</option>
                                                    <option value="2"  {% if c[0] == '2' %} selected {% endif %} >{{_('Wednesday')}}</option>
                                                    <option value="3"  {% if c[0] == '3' %} selected {% endif %} >{{_('Thursday')}}</option>
                                                    <option value="4"  {% if c[0] == '4' %} selected {% endif %} >{{_('Friday')}}</option>
                                                    <option value="5"  {% if c[0] == '5' %} selected {% endif %} >{{_('Saturday')}}</option>
                                                    <option value="6"  {% if c[0] == '6' %} selected {% endif %} >{{_('Sunday')}}</option>
                                                </select>

                                            </td>
                                            <td><input type="number" style="width:80px;"   name='chrono{{"%s1" %x}}' value="{{ c[1] }}"></td>
                                            <td><input type="number" style="width:80px;"   name='chrono{{"%s2" %x}}' value="{{ c[2] }}"></td>
                                            <td><input type="number" style="width:80px;"   name='chrono{{"%s3" %x}}' value="{{ c[3] }}"></td>
                                            <td style="width:120px; text-align:right;">  To:</td>
                                            <td>
                                                <select name='chrono{{"%s4" %x}}'  class="form-control">
                                                    <option value="7"  {% if c[4] == '7' %} selected {% endif %} >{{_('Each day')}}</option>
                                                    <option value="0"  {% if c[4] == '0' %} selected {% endif %} >{{_('Monday')}}</option>
                                                    <option value="1"  {% if c[4] == '1' %} selected {% endif %} >{{_('Tuesday')}}</option>
                                                    <option value="2"  {% if c[4] == '2' %} selected {% endif %} >{{_('Wednesday')}}</option>
                                                    <option value="3"  {% if c[4] == '3' %} selected {% endif %} >{{_('Thursday')}}</option>
                                                    <option value="4"  {% if c[4] == '4' %} selected {% endif %} >{{_('Friday')}}</option>
                                                    <option value="5"  {% if c[4] == '5' %} selected {% endif %} >{{_('Saturday')}}</option>
                                                    <option value="6"  {% if c[4] == '6' %} selected {% endif %} >{{_('Sunday')}}</option>
                                                </select>
                                            </td>
                                            <td><input type="number" style="width:80px;"   name='chrono{{"%s5" %x}}' value="{{ c[5] }}"></td>
                                            <td><input type="number" style="width:80px;"   name='chrono{{"%s6" %x}}' value="{{ c[6] }}"></td>
                                            <td><input type="number" style="width:80px;"   name='chrono{{"%s7" %x}}' value="{{ c[7] }}"></td>
                                            <td><input type="submit" class="btn-danger  btn-xs" name='delete_chrono{{x}}' value='Delete' ></td>
                                        </tr>

                                        {% set x = x+1 %}
                                    {% endfor %}
                                        <tr>
                                            <td colspan="10">Add new chrono data</td>
                                        </tr>
                                        <tr>
                                            <td>From:</td>

                                            <td>
                                                <select name='chronon1'  class="form-control">
                                                    <option value="7">{{_('Each day')}}</option>
                                                    <option value="0">{{_('Monday')}}</option>
                                                    <option value="1">{{_('Tuesday')}}</option>
                                                    <option value="2">{{_('Wednesday')}}</option>
                                                    <option value="3">{{_('Thursday')}}</option>
                                                    <option value="4">{{_('Friday')}}</option>
                                                    <option value="5">{{_('Saturday')}}</option>
                                                    <option value="6">{{_('Sunday')}}</option>
                                                </select>
                                            </td>
                                            <td><input type="number" style="width:80px;"   name='chronon2' value=""></td>
                                            <td><input type="number" style="width:80px;"   name='chronon3' value=""></td>
                                            <td><input type="number" style="width:80px;"   name='chronon4' value=""></td>
                                            <td style="width:120px; text-align:right;">  To:</td>
                                            <td>
                                                <select name='chronon5'  class="form-control">
                                                    <option value="7">{{_('Each day')}}</option>
                                                    <option value="0">{{_('Monday')}}</option>
                                                    <option value="1">{{_('Tuesday')}}</option>
                                                    <option value="2">{{_('Wednesday')}}</option>
                                                    <option value="3">{{_('Thursday')}}</option>
                                                    <option value="4">{{_('Friday')}}</option>
                                                    <option value="5">{{_('Saturday')}}</option>
                                                    <option value="6">{{_('Sunday')}}</option>
                                                </select>
                                            </td>

                                            </td>
                                            <td><input type="number" style="width:80px;"   name='chronon6' value=""></td>
                                            <td><input type="number" style="width:80px;"   name='chronon7' value=""></td>
                                            <td><input type="number" style="width:80px;"   name='chronon8' value=""></td>
                                        </tr>
                                </table>
                            </div>


                    </div>
                </div>
            </form>
        {% endfor %}

    </div>


{% endblock %}


