<!doctype html>
<html>
    <head>
        <title>{{_('DomoContorl V2')}}</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css' ) }}" >
        <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
        <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
            
        <script type=text/javascript> //Get Time
            window.setInterval(function(){
                $.getJSON('/getTime', {
                },  function(data) {
                      $("#time").text(data.result);
                    }
                )}, 10000);
        </script>
    
    
    </head>
    
    <body height="100%">
        <header>
            <nav class="navbar navbar-default navbar-static-top" role="navigation">
                <ul class="nav nav-pills center">
                    <li class="active"><a href="/home">Home</a></li>
                    <li><a href="/status">{{_('Status')}}</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Setup<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            
                            {% if session['logged_in']==True %}
                            <li><a href="/setup_program">{{_('Program Setup')}}</a></li>
                            <li class="divider"></li>
                            <li><a href="/setup_user">{{_('User')}}</a></li>
                            <li class="divider"></li>
                            <li><a href="/setup_area">Area</a></li>
                            <li><a href="/setup_privilege">{{_('Privilege')}}</a></li>
<!--
                            <li><a href="/setup_translation">Translation</a></li>
-->
                            <li><a href="/setup_board_type">{{_('Board Type')}}</a></li>
                            <li><a href="/setup_board">Board Setup</a></li>
                            <li><a href="/setup_io_type">{{_('I/O Type')}}</a></li>
                            <li><a href="/setup_program_type">{{_('Program Type')}}'</a></li>
                            {% else %}
                            <li>{{_('Please Login')}}</li>
                            {% endif %}
                        </ul>
                    </li>
                    
                    {% if not session.logged_in %}
                        <li><a href="/login">{{_('Login')}}</a></li>
                    {% else %}
                        <li><a href="{{ url_for('logout') }}">{{_('Logout')}} {{ session.user_name }}</a></li> 
                    {% endif %}
                    <li><a href="/log">Log</a></li>
                    <li><a href="/doc">Doc</a></li>
<!--
                    <li><a href="/message">Messages</a></li>
-->
                </ul>
            </nav>
            
        </header>
        
        <div class="container">
            {% block content %}
            
            {% endblock %}
        </div>
        
        <footer style="margin-top:100px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">                
                <div class="col-md-3">
                    {% if session.logged_in %}
                        <span>{{_('Welcome')}} {{ session.user_name }}</span>
                    {% endif %}
                </div>
                <div id="time" class="col-md-3"></div>
                
            </nav>
            
        </footer>  
        
    </body>
    
    
</html> 
