<!doctype html>
<html>
    <head>
        <title>DomoContorl V2</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css' ) }}" >
        <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
        <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    
    </head>
    
    <body height="100%">
        <header>
            <nav class="navbar navbar-default navbar-static-top" role="navigation">
                <ul class="nav nav-pills center">
                    <li class="active"><a href="/home">Home</a></li>
                    <li><a href="/status">Status</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Setup<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            
                            {% if session['logged_in']==True %}
                            <li><a href="/setup_program">Program Setup</a></li>
                            <li class="divider"></li>
                            <li><a href="/setup_user">User</a></li>
                            <li class="divider"></li>
                            <li><a href="/setup_area">Area</a></li>
                            <li><a href="/setup_privilege">Privilege</a></li>
                            <li><a href="/setup_translation">Translation</a></li>
                            <li><a href="/setup_board_type">Board Type</a></li>
                            <li><a href="/setup_board">Board Setup</a></li>
                            <li><a href="/setup_io_type">I/O Type</a></li>
                            <li><a href="/setup_program_type">Program Type</a></li>
                            {% else %}
                            <li>Please Login</li>
                            {% endif %}
                        </ul>
                    </li>
                    
                    {% if not session.logged_in %}
                        <li><a href="/login">Login</a></li>
                    {% else %}
                        <li><a href="{{ url_for('logout') }}">Logout {{ session.user_name }}</a></li> 
                    {% endif %}
                    <li><a href="/log">Log</a></li>
                    <li><a href="/doc">Doc</a></li>
<!--
                    <li><a href="/message">Messages</a></li>
-->
                </ul>
            </nav>
            
        </header>
        
        <div class="container">
            {% block content %}
            
            {% endblock %}
        </div>
        
        <footer style="margin-top:100px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
                <div class="container">
                    {% if session.logged_in %}
                        <span>Welcome {{ session.user_name }}</span>
                    {% endif %}
                </div>
            </nav>
        </footer>    
        
    </body>
    
    
</html> 
