<!doctype html>
<html>
    <head>
        <title>{{_('DomoContorl V2')}}</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css' ) }}" >
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css' ) }}" >
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

    </head>

    <body style="font-size:16px; height:100%;">
        <header>
            <nav id="navbar-example" class="nav bar navbar-default navbar-static">
                <div class="collapse navbar-collapse bs-example-js-navbar-collapse">
                    <ul class="nav nav-pills" role="tablist">
                        <li id="home"><a href="{{ url_for('home')}}">Home</a></li>
                        <li id="menu_status"><a href="{{ url_for('menu_status')}}">{{_('Status')}}</a></li>
                        <li id="menu_program"><a href="{{ url_for('menu_program')}}">{{_('Program')}}</a></li>
                        <li id="menu_sensor"><a href="{{ url_for('menu_sensor')}}">{{_('Sensor')}}</a></li>
                        <li id="#" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Setup<span class="caret"></span></a>
                            <ul class="dropdown-menu">

                                {% if session['logged_in']==True %}
                                    <li id="setup_program"><a href="/setup_program">{{_('Program Setup')}}</a></li>
                                    <li class="divider"></li>
                                    <li id="setup_user"><a href="/setup_user">{{_('User')}}</a></li>
                                    <li class="divider"></li>
                                    <li id="setup_area"><a href="/setup_area">Area</a></li>
                                    <li id="setup_privilege"><a href="/setup_privilege">{{_('Privilege')}}</a></li>
        <!--
                                    <li><a href="/setup_translation">Translation</a></li>
        -->
                                    <li id="setup_board_type"><a href="/setup_board_type">{{_('Board Type')}}</a></li>
                                    <li id="setup_board"><a href="/setup_board">Board Setup</a></li>
                                    <li id="setup_io_type"><a href="/setup_io_type">{{_('I/O Type')}}</a></li>
                                    <li id="setup_program_type"><a href="/setup_program_type">{{_('Program Type')}}'</a></li>
                                {% else %}
                                    <li>{{_('Please Login')}}</li>
                                {% endif %}
                            </ul>
                        </li>
                        <li id="log"><a href="{{ url_for('log')}}">Log</a></li>
                        <li id="doc"><a href="{{ url_for('doc')}}">Doc</a></li>
    <!--
                        <li><a href="/message">Messages</a></li>
    -->

                        {% if not session.logged_in %}
                            <li id="login"><a href="{{ url_for('login')}}">{{_('Login')}}</a></li>
                        {% else %}
                            <li id="logout"><a href="{{ url_for('logout') }}">{{_('Logout')}} {{ session.user_name }}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>

        </header>

        <div class="container">
            {% block content %}

            {% endblock %}
        </div>

        
        <footer style="margin-top:50px;">
            <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
                <div class="col-md-3">
                    {% if session.logged_in %}
                        <span>{{_('Welcome')}} {{ session.user_name }}</span>
                    {% endif %}
                </div>
                <div id="time" class="col-md-2"></div>
                
            </nav>
        </footer>

        
		<script>if (!window.jQuery) { document.write('<script src="/home/pi/dcn/static/jquery.js"><\/script>'); }
		</script>
        
		<script type=text/javascript src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
        
        <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
        
        <script type=text/javascript> <!-- Show time in status bar -->
            window.setInterval(getTime = function(){
                $.getJSON('/getTime', {
                },  function(data) {
                      $("#time").text(data.result);
                    }
                )}, 60000);
            getTime();
        </script>

		<script>
		  $(document).ready(function () {
		  $("#{{request.endpoint}}").addClass("active"); })
		</script>

		<!-- load graph library -->
        {% if chartID %}
            <script>
                var chart_id = {{ chartID|safe }}
                var series = {{ series|safe }}
                var title = {{ title|safe }}
                var xAxis = {{ xAxis|safe }}
                var yAxis = {{ yAxis|safe }}
                var tooltip = {{ tooltip|safe }}
                var chart = {{ chart|safe }}
            </script>

            <script src="http://code.highcharts.com/highcharts.js"></script>
            <script src="../static/js/graph.js"></script> 
        {% endif %}
	
    </body>


</html>
